* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(223, 249, 3);
  background: linear-gradient(
    339deg,
    rgba(223, 249, 3, 1) 0%,
    rgba(224, 14, 14, 1) 100%
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.logo {
  border: 2px dashed white;
  margin: 10px;
  width: 200px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 10px;
}

header {
  font-size: 2.2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #a20a19;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #a20a19;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  height: 350px;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.todo-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.todo-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  border-radius: 10px;
  padding: 10px;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #a20a19;
  margin: 0.2rem;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #7bb661;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #a20a19;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #a20a19;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: black;
}

.footer {
  text-align: center;
}
